version: '3.9'

services:
  app:
    build: ./app
    container_name: web_app
    networks:
      - proxy_network

  proxy:
      build: ./nginx
      container_name: nginx_proxy
      ports:
        - "8080:80"
      depends_on:
        - app
      networks:
        - proxy_network

networks:
  proxy_network:
    driver: bridge